<html>
<head>
    <title>Paint App</title>
</head>
<body>
    <div>
    <a href="/">Home</a>
    <a href="/save">Gallery</a>
    </div>
    <input type="text" id="input">
    <button onclick="sendData()">Send Data</button> 
    <div id="output"></div> 
    <script> 
        function sendData() { 
            var value = document.getElementById('input').value; 
            var canvas = document.getElementById("paint");
            var ctx = canvas.getContext("2d");
            var data = ctx.getImageData(0, 0, canvas.width, canvas.height);
            //document.getElementById('question').innerHTML = JSON.stringify(data)
            $.ajax({ 
                url: '/process', 
                type: 'POST', 
                contentType: 'application/json', 
                data: JSON.stringify(data), 
                success: function(response) { 
                    document.getElementById('prediction').innerHTML = response; 
                }, 
                error: function(error) { 
                    console.log(error); 
                } 
            }); 
        } 
    </script>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>

