<html>
<head>
    
    <title>DevanagarAI</title> 
    <link rel="icon" type="image/svg" href='/static/hindi-favicon.svg'>
    <style>
        @font-face { font-family: Futura; src: url('/static/futura-medium-bt.ttf'); }

        body {
            margin: 0;
        }

        .header {
            overflow: hidden;
            background-color: #28d152;
            width: 100%;
            display:inline-block;
        }

        .header a {
            float: right;
            text-align: center;
            padding: 14px 8px;
        }
    </style>
</head>
<body>
    <div class="header">
        <a href="/about" style="color: white; font-family: Futura; text-align: center;">About</a>
        <a href="/" style="color: white; font-family: Futura; text-align: center;">Practice</a>
        <h1 style="color: white; font-family: Futura; text-align: left; padding-left: 560px;">DevanagarAI</h1>
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
