<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing Pad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
</head>
<body>
    <header>
        <h1>Handwriten Digit Recognition</h1>
    </header>

    <main>
        <div id="drawing-pad">
            <!-- Drawing pad will be implemented here -->
        </div>

        <!-- Display the prediction result -->
        {% if prediction %}
            <div id="result">
                <p style="font-family: 'Arial'; font-size: 45px">{{ prediction }}</p>
            </div>
        {% endif %}

        <form method="POST" action="/">
            <!-- Form to send the drawing for prediction -->
            <button type="submit" id="predict-button">Recognize</button>
        </form>
    </main>

    <footer>
        <p>&copy; {{ current_year }} Group 16 Drawing Pad Application</p>
    </footer>
</body>
</html>
